[Unit]
Description=Hbase

[Service]
Type=simple
User={{hbase_user}}
Group={{hbase_group}}
Restart=on-failure
WorkingDirectory={{hbase_current_dir}}
ExecStart={{hbase_current_dir}}/bin/start-hbase.sh
ExecStop={{hbase_current_dir}}/bin/stop-hbase.sh
PIDFile=/tmp/hbase-hbase-master.pid

[Install]
WantedBy=multi-user.target
